.main-wrapper {

	.block-one {
		margin-bottom: 300px;

		.logo-wrapper {
			margin-bottom: 0;
		}

		.header {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}

		.logo {
			width: 170px;
			height: 25px;
			margin-left: 40px;
		}

		//menu
		.container-menu {
			width: auto;

			.menu-mobile {
				display: none;
			}

			.menu {
				position: relative;
				height: auto;
				width: auto;
				left: 0;
				top: 0;
				display: flex;
				text-align: right;

				&.open {
					display: flex;
				}

				.menu__item:nth-of-type(even),
				.menu__item:nth-of-type(odd) {
					background: none;
				}

				.menu__item {
					position: relative;

					&:nth-of-type(2):before {
						position: absolute;
						content: '';
						right: 0;
						top: 12px;
						width: 1px;
						height: 16px;
						background: rgba(255, 255, 255, 0.2);
					}
				}


				.menu__link, .menu-mobile {
					font-size: 15px;
				}

				.menu__link {
					display: block;

					&:hover {
						border: 1px solid rgba(255, 255, 255, 0.3);
					}

					&:active {
						box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) inset;
						transform: translateY(4px);
					}
				}
			}
		}

		.main-title {
			margin: 215px auto 0;

			h1, h4 {
				font-size: 70px;

			}

			h4 {
				font-size: 24px;
			}

			.start-trading_btn {
				margin: 85px auto 400px;

				&:hover {
					background: darken(#00e9fa, 3%);
				}
			}
		}

		.float-block {
			position: absolute;
			bottom: -136px;
			right: 0;

			.float-block_inner {
				flex-basis: 49.7%;
				border: 1px solid transparent;

				&:nth-of-type(1) {
					 border-right: 1px solid #f7f7f7;
					 border-bottom: 1px solid #f7f7f7;
				 }
				&:nth-of-type(2) {
					border-left: 1px solid #f7f7f7;
					border-bottom: 1px solid #f7f7f7;
				}
				&:nth-of-type(3) {
					border-right: 1px solid #f7f7f7;
				}
				&:nth-of-type(4) {
					border-left: 1px solid #f7f7f7;
				}

				@supports (display: grid) {
					flex-basis: 50%;
				}
			}
		}
	}
//!block one
	.block-two {
		width: 100%;
		position: relative;

		.tab-headers {

			li {
				width: auto;
				flex-basis: auto;

				&:hover {
					background: darken(#fff, 4%);
				}
			}


		}

		.tabs {
			padding-top: 95px;

			.tab1 {

				.tab1-inner {
					width: 49%;
					max-width: 520px;
				}

				.tab1-left {
					margin-bottom: 0;
					padding: 0 11px 0 0;
				}

				.tab1-right {
					width: 425px;
				}
			}
		}

		.blue-ball {
			top: 105px;
			left: -36px;
		}

		.red-ball {
			bottom: -13px;
			right: 53%;
		}

		.baks-orange-ball {
			top: 115px;
			right: 53%;
		}

		.cloud-small {
			left: 235px;
			bottom: 0;
		}
	}
//!block two
	.block-three {
		padding: 15% 8%;

		.block-three_img {
			width: 13%;
			height: 25px;
			margin: 15px 2%;

		}
	}
//!block three
	.block-four {
		background: url("../img/block-four-bg.png") no-repeat -50px center;
		background-size: 100% auto;
		height: 1150px;

		.left {
			flex-basis: 40%;
			padding:  0 1% 0 10%;
			color: #fff;

			p {
				font-size: 18px;
				padding: 0;
			}
		}

		.block-four-img1 {
			width: 27%;
			top: 185px;
			right: 31%;
		}

		.block-four-img2 {
			width: 27%;
			top: 79px;
			right: 7%;
		}

	}
//!block four
}